{{define "topnav"}}

  <div class="topnav">
    <a href="/">Home</a>
    <a   href="/login">Login</a>
    <a  href="/setupSecurity">Setup Security</a>
    <a href="/testTemplate">Test</a>
    <a href="/tParse">Test Parse tparse</a>

  </div>
{{end}}
