{{define "body"}}

  
<h1>This a body of a header and footer  heading</h1>
<p>To login press this key http://localhost:8080/login

<a href="http://localhost:8080/login">   To sdgs  login pls press this link</a>
</p>
{{end}}
