{{define "postSignup"}}
{{template "header" .}}
<div class="header">
  <h1>Thank you for signing up </h1>
  {{.}}
  <p>Your username is : bla.</p>
</div>
{{template "topnav"}}
{{template "body" .}}
{{template "footer"}}
{{end}}
